{% load mediapath %}

<div class="col-3">
    <div class="card mb-4 box-shadow">
        <div class="card-header p-0 m-0">
            <img src="{% mediapath object.image %}" alt="Картинка" width="200" height="200"/>
{#            <h4 class="my-2 font-weight-normal">{{ object.title }}</h4>#}
        </div>
        <div class="card-body">
{#            <ul class="list-unstyled mt-3 mb-4 text-start m-3">#}
                {{ object.text | truncatechars:30 }}
{#            </ul>#}



        </div>
        <div class="card-footer">
            <a class="btn btn-secondary" href="{% url 'post_detail' object.slug %}" role="button">Посмотреть
                &raquo</a>
        </div>
    </div>
</div>
<style>
    .card-header img {
        padding: 0;

    }
    .card-body {
        max-height: 300px;
        overflow: hidden;
    }
</style>